@layout('layouts/dashboard')

@section('content')
     <div class="card">
        <div class="card-header"><p class="card-header-title">Bets</p></div>
        <div class="card-content"><div class="content">
            <bets></bets>
        </div></div>
    </div>
@endsection