
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    <meta name="csrf-token" content="{{csrfToken}}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>

    <style>
      body{
        min-height: 100vh;
      }
        .is-fullheight.columns {
        height: calc(100vh - ( 3.25rem - .75rem ) );
      } 
      #border-sidenav{
        border-right: 1px solid #00d1b2;
      }
    </style>
  </head>
  <body>
    @include('partials/header')
    <div id="app" class="p-3">
      <div class="columns is-fullheight">
        <div class="column is-2 is-sidebar-menu" id="border-sidenav">
          @include('partials/sidebar')
        </div>
        <div class="column   is-main-content">
          <div class="section">
            @!section('content')
          </div>
        </div>
      </div>
    </div>
    @include('partials/footer')
  </body>
</html>